<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>MicroScan Upload</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div>
        <h1>Upload an image</h1>
        <a href="{{ url_for('home') }}">Home</a>
        <br>
        <br>
        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="photo" />
            <input type="submit" />
        </form>
        <br>
        <br>
        <form action="{{ url_for('click') }}" method="POST" enctype="multipart/form-data">
            <input type="radio" name="option" id="phase1" value="phase1"> Phase 1<br>
            <input type="radio" name="option" id="phase2" value="phase2"> Phase 2<br>
            <input type="radio" name="option" id="phase3" value="phase3"> Phase 3
            <input type="submit" />
        </form>
    </div>
    <div>
        <h1>Original Image</h1>
        <img src="https://via.placeholder.com/400x300.png" />
        <h1>Phase x</h1>
        <img src="{{ phase_img }}" alt=""/>

    </div>
    <div>
        <h1>Distribution Plot</h1>
        <img src="https://via.placeholder.com/400x300.png" />
    </div>
</body>

</html>